.achievements {
    position: relative;
    padding: 0;
    padding-top: 5rem;
    background:linear-gradient(to right, rgba(153, 38, 240,0.95), rgba(209, 34, 227,0.95));
}
.subheading2{
    font-weight: 500;
    font-size: 6rem;
    display: block;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.2);
    color: white;
    position: relative;
    line-height: 1;
    font-family: "Lovers Quarrel", cursive;
    margin-bottom: -20px;
}

.achievements_card{
    background-color: rgba(255,255,255, 0.8);
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    height: auto;
    text-align: center;
    margin: 5rem 5rem;
}

.achievements_card i{
    font-size: 1.5rem;
    color: rgba(153, 38, 240,0.7);
}


.achievements_picture{
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.achievements_picture img{
    border: 0.325rem solid rgba(153, 38, 240,0.7);
}

@media only screen and (min-width: 800px){
    .achievements_container{
        padding: 5px 6rem !important;
    }
}
@media only screen and (max-width: 800px){
	.achievements_container{
        padding: 5px 6rem !important;
    }
}
@media only screen and (max-width: 425px){
	.achievements_container{
        padding: 5px 0rem !important;
    }
}
