html{
    scroll-padding-top: 4.5rem;
}

.background{
    position: absolute;
    position:fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 120vh;
    z-index: -1;
    mix-blend-mode:multiply;
    opacity: 0.05;
}

.menu{
    background:linear-gradient(to right, rgba(153, 38, 240,0.95), rgba(187, 110, 245,0.95));
    opacity: 0.95;
}

.logo-image{
    height:3rem;
    width:5.5rem;
}

.menu li a{
    padding:0 1em;
    margin:0 0.5em;
    color:rgb(225, 225, 225);
    font-weight: 600;
}

.menu li a:hover{
    color:white;
}

.menu li a:active{
    color:white;
}
